//color variables
$grey: #696363;
$dark-grey: #4d4747;
$light-grey: #f7f5f5;
$blue: #3fbff2;
$light-purple: #f59df3;
$light-pink: #fcaed8;
$pink: #ff058a;
$purple: #d60fd3;

//media query variables
$max-device-width: 1080px;

//margin variables{
$margin-none: 0px;
$margin-small: 4px;
$margin-medium: 8px;

//padding variables
$padding-none: 0px;
$padding-extra-small: 5px;
$padding-small: 10px;
$padding-medium: 15px;
$padding-large: 30px;

//font variables
$font-family: "Gill Sans", sans-serif;